body, p {
  background-color: black;
  color: white;
  text-shadow: grey 1px 1px;
  text-align: center;
}

h1 {
  font-size: 400%;
}

img {
  max-width: 250px;
}

.result {
  border: 2px solid white;
  max-width: 350px;
  margin: 1em auto;
  padding: .5em;
}
